@model Anh105.Models.TA105

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TA105</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAGener)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAGener)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TAid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
